.banner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 80px 120px;
    gap: 24px;
    isolation: isolate;

    width: 100%;

    /* Gradient 1 */
    background: linear-gradient(90deg, #BFECFC 0%, #F3AACD 100%);
}