.box2 {
    background: linear-gradient(90deg, #BFECFC 0%, #F3AACD 100%);
}

.text {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    
    /* identical to box height, or 120% */
    
    /* Gradient 1 */
    background: linear-gradient(90deg, #BFECFC 0%, #F3AACD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}